* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif; 
    margin: 10px;
    padding: 10px;
}

h1 {
    text-align: center;
    font-size: large;
    font-variant: small-caps;
}

h3 {
    text-align: center;
    font-size: medium;
    margin: 2px;
}

p {
    text-align: center;
    font-size: small;
}

/* Header Section */

.header {
    width: 90%;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    
.title a,
.time,
#time-value {
    font-size: small;
    width: 60%;
    color: teal;
    font-weight: bolder;
    text-decoration: none;   
}

.timer {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-content: center;
}

.time,
#time-value {
    margin: 5px;
}

/* Start Quiz Section */

.intro-container {
    width: 90%;
    height: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 30px;
    /* display: none; */
}

.intro,
.start-btn,
.submit-btn {
    font-size: 50px;
    margin: 10px;
    display: flex;
}

span {
    font-weight: bold;
}

.start-btn,
.submit-btn,
.btn {
    background-color: darkblue;
    font-size: small;
    margin: 5px;
    padding: 7px;
    border-radius: 0.5rem;
    cursor: pointer;
    color: whitesmoke;
}

.start:hover {
    background-color: teal;
}

/* Display Question section  */

.display {
    width: 90%;
    height: 100%;
    position: absolute;
    top:80px;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    margin: 15px;
    padding: 10px;
    background-color: white;
    display: none;
}

.questions {
    width: 80%;
    height: 80%;
    position: fixed;  
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

.question {
    line-height: 20px;
    margin-bottom: 5px;
}

.question h2 {
    margin: 15px;
    font-size: medium;
    width: 80%;
}

.options {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.choice {
    background-color: darkblue;
    font-size: small;
    margin: 5px;
    padding: 7px;
    border-radius: 0.5rem;
    cursor: pointer;
    color: whitesmoke;
    width: 150px;
    text-align: left;
}

.choice:hover {
    background-color: teal;
}

.user-answer {
    width: 80%;
    margin: 10px;
    padding: 10px;
    flex-direction: column;
    display: none;
}

.user-answer h2 {
    font-size: large;
}

/* Result section */

.result {
    width: 90%;
    height: 100%;
    position: absolute;
    top:80px;
    margin-top: 10px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    display: none;
}

.final-score {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-content: center;
    margin:10px;
}

.initials {
    width: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 10px 0 10px;
    padding: 1px;
}

#initial {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    resize: none;
    width: 75px;
    height: 25px;
    margin: 0;
    padding: 2px;
}

/* High Score Section */

.save-highscore {
    width: 90%;
    height: 100%;
    position: absolute;
    top:80px;
    margin-top: 10px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    display: none;
}

#highscore {
    height: fit-content;
    width: 90%;
    text-align: center;
    color: teal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.displaybtn {
    margin: 25px;
}

#go-back {
    text-decoration: none;
    color: whitesmoke;
}

.active {
    display: flex;   
}

.hide {
    display: none;
}